<template lang="pug">
	.contentWrapper
		.controlPane
			span.text-minor.controlItem
				select
					option(selected disabled) 4/4
			span.controlItem
				span.text-minor Расположение: 
				span.styledRadio
					input#positionTight(type="radio" name="position" value="tight" v-model="chosenPosition" v-on:change="changePosition")
					label(for='positionTight') Тесное
				span.styledRadio
					input#positionWide(type="radio" name="position" value="wide" v-model="chosenPosition" v-on:change="changePosition")
					label(for='positionWide') Широкое
			.error(v-if="tonalitiesError")
				span {{ tonalitiesError }}
				=' '
				span.text-minor tonalitiesError
			span.controlItem(v-if="!tonalitiesError")
				span.text-minor Тональность: 
				select(v-if="tonalities" v-on:change="changeTonality" v-model="chosenTonality")
					option(v-for="tonality in tonalities" v-bind:value="tonality.id") {{ tonality.name }}
				.loading(v-if="tonalitiesLoading") Загрузка тональностей
					span.text-minor tonalitiesLoading
			aside
				span.controlItem
					img.logo(src='/logo.svg')
		.notesEditor
			span.text-minor Ноты:
			input(type="text" placeholder="c4,d4,e4,b4" v-model="chosenNotes" v-on:change="setNotes")
			span
				button( type='button' v-on:click="setNotes" title='Запрос') ↩︎
			span(v-if="chords")
				select(v-on:change="selectScoreVariant" v-model="chosenVariant")
					option(disabled v-for="i in chords.variants.length" v-bind:value="(i - 1)") Вариант {{ i }}
			aside
				button(type="button" v-on:click="getTestData") Посмотреть пример
		.error(v-if="chordsError") {{ chordsError }}
			=' '
			span.text-minor chordsError
		.warning(v-if="chordsWarning") {{ chordsWarning }}
			=' '
			span.text-minor chordsWarning
		.loading(v-if="chordsLoading") Загрузка аккордов
			=' '
			span.text-minor chordsLoading
		.score
			#score(v-if="!chordsLoading && !chordsError")
			.chordsNames(v-if="chords" v-bind:class="chordsNames.length >= 10 && 'many'")
				.chordName(v-for="name in chordsNames"): span {{ name }}
		a.repoLink(href='https://bitbucket.org/mrakolice/soprano-aldente' target='_blank'): img(src='https://img.shields.io/badge/BitBucket-mrakolice/soprano--aldente-blue.svg')
</template>
<style lang="sass">
	html,
	body,
	#app,
	.contentWrapper
		height: 100%
	body
		margin: 0
		font-family: sans-serif
	.contentWrapper
		display: flex
		flex-flow: column
	.score
		margin-bottom: auto
		padding-x: 1rem
		overflow: hidden
		#score > svg
			margin-top: -20px
	.text-minor
		opacity: 0.3
	.controlPane
		display: flex
		flex-flow: row
		flex-shrink: 0
		box-shadow: 0 0 20px -10px black
		> aside
			margin-left: auto
		input, select, button
			font-size: 1rem
	.controlItem
		display: inline-block
		margin: 1rem
	.logo
		position: relative
		top: 0.5em
		margin-top: -1em
		width: 150px
	.notesEditor
		display: flex
		flex-flow: row
		flex-shrink: 0
		align-items: center
		margin: 1rem
		input
			font-size: 1rem
			width: 100%
			max-width: 300px
		> *
			margin-x: 0.5rem
			font-size: 0.8rem
		aside
			margin-left: auto
	.chordsNames
		display: flex
		flex-flow: row
		justify-content: space-between
		max-width: 426px
		margin: 1rem
		margin-left: 77px
		&.many
			.chordName:nth-child(even)
				> span,
				&::before
					bottom: 1.5em
	.chordName
		flex-basis: 100%
		height: 3em
		margin-top: -2em
		white-space: nowrap
		position: relative
		> span
			absolute: bottom left
			pointer-events: none
			font-size: 0.8rem
		&:hover
			&::before
				opacity: 1
		&::before
			content: ''
			display: block
			absolute: bottom left
			width: 0
			height: 350px
			background: hsl(0, 0%, 95%)
			border-left: 1px solid lightgray
			z-index: -1
			opacity: 0
	.repoLink
		margin-left: auto
		margin-right: 1px
	.styledRadio
		display: inline-block
		margin-left: 0.5em
		input + label
			margin-left: 0.25em
		label
			font-weight: normal
	.error
		color: white
		font-weight: bold
		background: #E57373
		padding: 1rem
	.warning
		color: black
		font-weight: bold
		background: #FFF59D
		padding: 1rem
	.loading
		color: black
		font-weight: bold
		background: lightgray
		padding: 1rem
	[id^="vf-soprano"]
		$color: hsl(224, 100%, 58%)
		.vf-notehead,
		.vf-modifiers
			path
				fill: $color
		.vf-stem,
		.vf-flag
			path
				fill: $color
				stroke: $color
</style>
<script>
	import Vex from 'vexflow'
	import 'whatwg-fetch'
	export default {
		name: 'main',
		data () {
			return {
				chords: null,
				chordsLoading: false,
				chordsError: null,
				chordsWarning: null,
				chordsNames: null,
				tonalities: null,
				tonalitiesLoading: false,
				tonalitiesError: null,
				chosenVariant: 0,
				chosenTonality: null,
				chosenNotes: null,
				instance: null,
				testData: false,
				chosenPosition: "tight",
			}
		},
		created() {
			this.fetchChords()
			this.fetchTonalities()
		},
		methods: {
			fetchChords() {
				if (!this.chosenNotes && !this.testData) {
					this.chordsWarning = 'Введите ноты'
					return
				}
				this.chordsError = this.chordsWarning = this.chords = null
				this.chordsLoading = true
				let chordsURL = '/api/get_chords'
				let chordsFetchOptions = {}
				if (this.testData) {
					chordsURL = '/api/get_test_chords'
					Object.assign(chordsFetchOptions, {
						method: 'GET'
					})
				}
				else {
					Object.assign(chordsFetchOptions, {
						method: 'POST',
						body: JSON.stringify({
							tonality_id: this.chosenTonality,
							notes: this.chosenNotes.split(','),
							position: this.chosenPosition
						}),
						headers: {
							"Content-Type": "application/json"
						},
					})
				}
				fetch(chordsURL, chordsFetchOptions)
					.then(response => {
						console.log('chords request sent', chordsFetchOptions, )
						this.chordsLoading = false
						return response.json()
					})
					.then(json => {
						console.log('chords fetch: got JSON', json)
						this.chords = json
					})
					.then(() => {
				    	this.init()
						const elementsToHide = document.querySelectorAll('#score > svg:not(:last-child)')
						elementsToHide.forEach(element => element.style.display = 'none')
					})
					.catch(ex => {
						console.error('chords fetch exception', ex)
						this.chordsLoading = false
						this.chordsError = ex.toString()
					})
			},
			fetchTonalities() {
				this.tonalitiesError = this.tonalities = null
				this.tonalitiesLoading = true
				fetch('api/get_tonalities')
					.then(response => {
						this.tonalitiesLoading = false
						return response.json()
					})
					.then(json => {
						console.log('tonalities fetch: got JSON', json)
						this.tonalities = json
						this.chosenTonality = json[0].id
					})
					.catch(ex => {
						console.error('tonalities fetch exception', ex)
						this.tonalitiesLoading = false
						this.tonalitiesError = ex.toString()
					})
			},
			init() {
				let vf = new Vex.Flow.Factory({
					renderer: { selector: 'score', width: '100%', height: 320 }
				})
				const score = vf.EasyScore()
				const system = vf.System()
				this.instance = {
					vf: vf,
					score: score,
					system:system
				}
				this.renderScoreVariant(this.chosenVariant)
			},
			renderScoreVariant(variantIndex) {
				let vf = this.instance.vf
				let score = this.instance.score
				let system = this.instance.system

				let variant = this.chords.variants[variantIndex]
				this.chordsNames = variant.chords

				Object.keys(variant).forEach(key => {
				    if (key === 'chords') return
					variant[key][0] = variant[key][0] + '/' + variant[key].length
				})
				const notes = (arr, attrs='') => arr.join(attrs + ',')
				const primaryNotes = arr => {
					const noteID = () => Math.random().toString(36).substring(7)
					arr = arr.map(item => `${item}[id='soprano-${noteID()}']`)
					return arr.join(',')
				}
				system.addStave({
					voices: [
						score.voice(
							score.notes( primaryNotes(variant.soprano), { stem: 'up' } )
						),
						score.voice(
							score.notes( notes(variant.alt), { stem: 'down' } )
						),
					]
				}).addClef('treble').addTimeSignature('4/4')
				system.addStave({
					voices: [

						score.voice(
							score.notes( notes(variant.tenor), {clef:'bass', stem: 'up' } )
						),
						score.voice(
							score.notes( notes(variant.bass), { clef: 'bass', stem: 'down' } )
						),
					]
				}).addClef('bass').addTimeSignature('4/4')
				vf.draw()
				console.log(`rendered variant ${variantIndex}`, variant)
			},
			selectScoreVariant(event) {
				this.renderScoreVariant(this.chosenVariant)
			},
			getTestData() {
				this.testData = true
				this.fetchChords()
			},
			changeTonality() {
				this.testData = false
				this.fetchChords()
			},
			setNotes() {
				this.testData = false
				this.fetchChords()
			},
			changePosition() {
				this.testData = false
				this.fetchChords()
			}
		},
	}
</script>
