= simple_form_for(@chord) do |f|
  - if @chord.errors.any?
    #error_explanation
      h2 = "#{pluralize(@chord.errors.count, "error")} prohibited this chord from being saved:"
      ul
        - @chord.errors.full_messages.each do |message|
          li = message
  .row
    .col-md-6
      .form-group
        =  f.input :name, :label => false, :input_html => { :placeholder => "Название аккорда",:class => "form-control" }
      .form-group
        = f.input :soprano, :label => 'Сопрано', :input_html => {:placeholder => "Сопрано", :class => "form-control"}
      .form-group
        = f.input :alt, :label => 'Альт', :input_html => {:placeholder => "Альт", :class => "form-control"}
      .form-group
        = f.input :tenor, :label => 'Тенор', :input_html => {:placeholder => "Тенор", :class => "form-control"}
      .form-group
        = f.input :bass, :label => 'Бас', :input_html => {:placeholder => "Бас", :class => "form-control"}
      .form-group
        = f.collection_radio_buttons :position,
                [[true, 'Широкое'], [false, 'Тесное']],
                :first,
                :last,
                :item_wrapper_class => 'radio-inline'
      .form-group
        =  f.input :parent_chord_id, :label => 'Функция', :collection => @parent_chords, :input_html => {:class => "form-control"}
      .btn-group
          = f.submit 'Сохранить', :class => 'btn btn-primary'
          = link_to 'Назад', chords_path, :class => 'btn btn-default'
