h1 Аккорды

= link_to 'Новый аккорд', new_chord_path
table.table
  thead
    tr
      th Имя
      th Ступени
      th Расположение
      th
      th

  tbody
    - @chords.each do |chord|
      tr
        td = chord.name
        td = "Бас:#{chord.bass}, Тенор:#{chord.tenor}, Альт:#{chord.alt}, Сопрано:#{chord.soprano}"
        td = chord.position.nil? ? 'Не указано' : chord.position ? 'Широкое' : 'Тесное'
        td = link_to 'Редактировать', edit_chord_path(chord)
        td = link_to 'Удалить', chord, data: { confirm: 'Вы уверены?' }, method: :delete

br
