p#notice = notice

p
  strong Name:
  = @chord.name
p
  strong Sequence:
  = @chord.sequence
p
  strong Position:
  = @chord.position

= link_to 'Edit', edit_chord_path(@chord)
'  |
= link_to 'Back', chords_path
