#add-item action=""
  = simple_form_for [@tonality] do |t|
    .row
      .col-md-6
        .form-group
          = t.input :name, label: false, inner_html: {:placeholder => 'Наименование тональности', :class => 'form-control'}
        .form-group
          = t.input :sequence, label: false, inner_html: {:placeholder => 'Последовательность нот', :class => 'form-control'}
        .form-group
          = t.collection_radio_buttons :is_major,
                  [[true, 'Мажорная'] ,[false, 'Минорная']],
                  :first,
                  :last,
                  :item_wrapper_class => 'radio-inline'
        .form-group
          = t.input :offset, label: 'Смещение относительно До', inner_html: {:class => 'form-control'}
        .btn-group
          = t.submit 'Сохранить', class: 'submit'