div.row
  div.col-xs-12
    div.box
      div.box-header
        h3.box-title Тональности
        div.box-tools
          = link_to 'Создать', new_tonality_path, :class => 'btn btn-primary'

      div.box
        .box-body.table-responsive.no-padding
          table.table.table-hover
            tbody
              tr
                th ID
                th Наименование
                th Последовательность
                th Мажор/Минор
                th Смещение относительно До
            - @tonalities.each do |t|
              tr
                td = t.id
                td = link_to t.name, edit_tonality_path(t)
                td = t.sequence
                td = t.is_major ? 'Мажор' : 'Минор'
                td = t.offset