= simple_form_for(@chord_sequence, :defaults => { :input_html => { :class => "form-control" } }) do |f|
  - if @chord_sequence.errors.any?
    #error_explanation
      h2 = "#{pluralize(@chord_sequence.errors.count, "error")} prohibited this chord_sequence from being saved:"
      ul
        - @chord_sequence.errors.full_messages.each do |message|
          li = message
  .row
    .col-md-6
      .form-group
        = f.input :first_chord_id, :collection => @chords,  label: 'Первый аккорд'
      .form-group
        = f.input :second_chord_id, :collection => @chords,  label: 'Второй аккорд'
      .form-group
        = f.input :third_chord_id, :collection => @chords,  label: 'Третий аккорд'
      .form-group
        = f.input :fourth_chord_id, :collection => @chords,  label: 'Четвертый аккорд'
      .form-group
        = f.collection_radio_buttons :position,
                [[true, 'Имеет значение'], [false, 'Не имеет значения']],
                :first,
                :last,
                :item_wrapper_class => 'radio-inline'
      .btn-group
          = f.submit 'Сохранить', :class => 'btn btn-primary'
          = link_to 'Назад', chord_sequences_path, :class => 'btn btn-default'
