h1 Последовательности аккордов

= link_to 'Новая последовательность', new_chord_sequence_path
table.table
  thead
    tr
      th Первый аккорд
      th Второй аккорд
      th Третий аккорд
      th Четвертый аккорд
      th
      th

  tbody
    - @chord_sequences.each do |chord_sequence|
      tr
        td = chord_sequence.first_chord.try(:name)
        td = chord_sequence.second_chord.try(:name)
        td = chord_sequence.third_chord.try(:name)
        td = chord_sequence.fourth_chord.try(:name)
        td = link_to 'Редактировать', edit_chord_sequence_path(chord_sequence)
        td = link_to 'Удалить', chord_sequence, data: { confirm: 'Вы уверены?' }, method: :delete

br

