p#notice = notice

p
  strong First chord:
  = @chord_sequence.first_chord
p
  strong Second chord:
  = @chord_sequence.second_chord
p
  strong Third chord:
  = @chord_sequence.third_chord

= link_to 'Edit', edit_chord_sequence_path(@chord_sequence)
'  |
= link_to 'Back', chord_sequences_path
