
<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu">
      <li>
        <a href="/tonalities">
          <span>Тональности</span>
        </a>
      </li>
      <li>
        <a href="/tonalities/new">+ Добавить</a>
      </li>
      <li>
        <a href="/chords">Аккорды</a>
      </li>
      <li>
        <a href="/chords/new">+ Добавить</a>
      </li>
      <li>
        <a href="/chord_sequences">Последовательности</a>
      </li>
      <li>
        <a href="/chord_sequences/new">+ Добавить</a>
      </li>
    </ul>
  </section>
</aside>
