
<header class="main-header">
  <a href="/" class="logo">
    <span class="logo-mini"><b>S</b>A</span>
    <span class="logo-lg"><b>Soprano</b> Aldente</span>
  </a>
  <nav class="navbar navbar-static-top" role="navigation">
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Переключить навигацию</span>
    </a>
  </nav>
</header>
